body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.fullscreen-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fullscreen-image img {
    max-height: 75%;
    max-width: 75%;
    object-fit: cover;
}
